body {
    background-color: #c0c0c0;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #FFF;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 30px;
}

.cabeçalho-principal {
    background-color: #424250;
    width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tabela-moda {
    color: #FFF;
    width: 350px;
    height: 150px;
}

.cabeçalho-moda {
    background-color: #BB86FC;
}

.conteúdo-casa, .conteúdo-moda  {
    background-color: #424250; 
}

.tabela-casa {
    color: #FFF;
    width: 250px;
    height: 150px;
    margin-left: 275px;
}

.cabeçalho-casa {
    background-color: #00C4B4;
}

.logo-t {
    color: #BB86FC;
}

.logo-e {
    color: #00C4B4;
}

h1 {
    color: #FFF;
    margin: 0;
}

h3 {
    color: #000;
    padding: 10px 0px 10px 270px;
    margin: 10px 10px;
}

td {
    padding-left: 10px;
}



 
